$black: #322625;
$grey: #ebebeb;
$blue: #c0e3e5;
$yellow: #fdc936;

body {
  color: $black;
}
.content table thead th {
  background-color: $blue;
}

.contain {
  width: 100%;
  overflow: hidden;
  padding: 2vh 2vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter {
  height: 10vh;
}

.content {
  overflow: scroll;
  height: 70vh;
  width: 99%;
}

.paginations {
  height: 10vh;
  margin: 0 auto;
}

.activeLocation {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 10px;
    background-color: $yellow;
  }
}

.page-item button {
  border: 0;
  color: $black;
}

.activePage {
  transform: translateY(-15px);
}

.homeNav {
    button {
        background-color: $grey;
        border: 0;
        padding: 1vh 2vw;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
        &.activeLink {
            background-color: $blue;
        }
        &:hover {
            background-color: $yellow;
        }
    }
}